/* Main app styling*/
.stApp{  
    background-color: #FFFFFF;  
    color:#000000;  
    padding:20px;
}  

.stApp > header {  
    background-color: #FFFFFF;
    color:#27762b;  
    padding:2rem;  
}  

.stTextInput, .stSelectbox{  
    margin-bottom: 15px;  /*Add spacing between these elements*/
}  

/* Sidebar styling */  
[data-testid="stSidebar"]{  
    background-color: #FFFFFF;
    color: #ffffff;  
}  

[data-testid="stSidebarNav"] {  
    background-image: url(https://www.miagroalimentaria.com/assets/dataicon-24d5c7cb.jpg);  
    background-repeat: no-repeat;  
    padding-top: 100px;  
    background-position: 30px 30px;  
    background-size: 150px;  
}  
  
[data-testid="stSidebarNav"]::before {  
    content: "";  
    margin-left: 0px;  
    margin-top: 10px;  
    font-size: 20px;  
    position: relative;  
    font-weight: bold;  
    text-align: center;  
} 

[data-testid="column"] {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    border-radius: 15px;
    padding: 1% 5% 1% 5%;
} 